body{
    place-items: center;
    background-color:rgb(93, 107, 124);
}
.h1{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p1{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}
a{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}
.simb{
    height: 390px;
}
.simb_div{
    display: grid;
    place-items: center;
}
.divisao{
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}