dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
    background-color: gray;
    color: #fff;
    padding: 50px 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dropdown-button:hover {
  background-color: gray;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-content li {
  padding: 10px;
  border-bottom: 1px solid black;
}

.dropdown-content li:hover {
  background-color: #f1f1f1;
}

.dropdown-content a {
  text-decoration: none;
  color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content::-webkit-scrollbar {
  width: 10px;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

.dropdown-content::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

body{
    place-items: center;
    background-color:rgb(93, 107, 124);
}
.h1{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p1{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}
.a{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}
.simb{
    height: 390px;
}
.simb_div{
    display: grid;
    place-items: center;
}
.divisao{
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
h2{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    color: white;
}
img{
    border: 5px solid black;
}
.divimg{
    display: grid;
    place-items: center;
}